
  @font-face {
    font-family: "OpenSans";
    src: url("css\text_fonts\OpenSans-Bold.ttf");
    font-weight: bold;
    font-style: normal;
    /* Make sure you defined the correct path, which is related to
            the location of your file `my_css.css` */
}

  /* TODO: spiner css */

  .spiner {
    position: fixed;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('img/spiner.gif');
    display: none;

  }

  /* TODO: page 1 post css */

#page1 .ui-mobile .ui-page-active {
      display: block;
      overflow: visible;
      overflow-x: hidden;
    background-color: #dcdcdc;
  }
#page1  .ui-content{

    border: 0px;
    padding:0px 5px 0px 5px;

  }

#page1  .ui-content .ui-listview-inset{
    margin-top: 1px;
  }
  /* TODO:header page 1*/

#page1  #header1 {
    height: 50px;
    background-color:#002960;
    border-style: none;
  }

  #page1  #header1 h1 {
     color:white;
    margin: 15px 1px 1px 10px;
  padding: 4px;
  font-family: OpenSans,sans-serif;
text-transform: capitalize;
font-size: 15px;
    }
#page1 #header1  a {
  float: left;
   text-decoration:none!important;
       text-shadow : none!important;
   color:white!important;
  background-color: #002960 !important;
  border: none;
  margin: 15px 1px 1px 1px;
padding: 4px;
 }



#page1 #header1  a:not(:first-child) {
   margin-left: 23px;
    float: right;

  }

  /* TODO: body page 1 */
  .serchedposts .post2,
  .recentposts .post {
    width: 100%;
    background-color: white;
    margin-top: 200px;
    height: 150px;
    overflow: hidden;
    display: none;

  }
  .serchedposts .post2 img,

  .recentposts .post img {
    float: right;
      margin: 20px 10px 20px 10px;
      width: 35%;
  }

  .serchedposts .post2 .para,
  .recentposts .post .para {
    color: rgb(138, 138, 138);
    text-align: left;
    margin-right: 5px;
    text-transform: lowercase;
    letter-spacing: 2;
    line-height: 1.2;
    height: 70 px;
    overflow: hidden;
  }


  .serchedposts .post2 h1,
  .recentposts .post h1 {

    font-family:OpenSans,sans-serif;
      font-size: large;
    font-weight: bold;
     text-transform: capitalize;
     line-height:25px;
    color: #002960 ;
    margin: 18px 5px 0px 5px;
  }
  /* TODO: popupMenu css  */
#popupMenu {
  padding : 13px;
  border: 0px;
  line-height: 0px;
}
  #popupMenu  a{
    text-decoration: none;
    color: #002960;
    border-radius: 0px;
    font-family: OpenSans,sans-serif;
    text-transform: capitalize;
    display: inherit;
    font-size: 20px;
        margin: 18px 0 0 0;
}

  /* TODO:  panel page 1*/

.ui-panel-inner
{
  padding: 0 0 0 0;
}
  #left-panel h1 {
    font-family: OpenSans-Bold,sans-serif;
    text-transform:capitalize;
    color: white;
  padding:  16px;
  background-color: #002960 ;

  }
  #categories{
    margin: 0px;
    margin-top: 30px;
  }
  #categories > div {
    color: rgb(128, 128, 128);
    font-family: OpenSans-Bold,sans-serif;
    text-transform: capitalize;
    font-size:20px;
        padding: 10px 0 10px 30px;
  }
  #categories > div > a {
  text-decoration: none;
  color:#002960;

}
/* TODO: header  page 2 */




#page2  .ui-content .ui-listview{

    margin: -8px;

  }
/*#contact_page #header_contact,*/
#searsh_page #header_searsh,
#page2 #headerP2 {
  height: 50px;
  background-color:#002960;
  border-style: none;
}

/*#contact_page #header_contact a,*/
#searsh_page #header_searsh a,

#page2 #headerP2  a{
float: left;
 text-decoration:none!important;
     text-shadow : none!important;
 color:white!important;
background-color: #002960 !important;
border: none;
margin: 15px 10px 1px 10px;
padding: 4px;
}
#page2 #headerP2  a:not(:first-child) {
 margin-left: 23px;
  float: right;

}
 /* TODO: page 2 content */


 #page2 > div img {
   width: 100%;
   height: 100%;
  }
.detail .post_afficher {
  display: none;

}
   /*h1 h2 h4 p*/
   #page2 > div h1 {
     font-family: OpenSans,sans-serif;
     font-size: xx-large;
     font-weight: bold;
     text-transform: capitalize;
     line-height: 33px;
     color: #002960;
     margin: 18px 5px 0px 5px;
    }
    #page2 > div h2 {
      font-family: OpenSans,sans-serif;
      font-size: x-large;
      font-weight: bold;
      text-transform: capitalize;
      line-height: 33px;
      color: #38c;
      margin: 18px 5px 0px 5px;
     }
     #page2 > div h4 {
       font-family: OpenSans,sans-serif;
       font-size:large;
       font-weight: bold;
       text-transform: capitalize;
       color:#a7a7a7 ;
       margin: 18px 5px 0px 5px;
      }
    #page2 > div p {
      font-family: OpenSans,sans-serif;
  text-transform: capitalize;
  color: black;
  line-height: 25px;
  /* text-shadow: none; */
  margin: 18px 5px 0px 5px;
  font-size: large;
     }

     /* TODO: contact page
     #contact_page #header_contact h1 {
       color: white;
     margin: 10px 1px 1px 100px;
     padding: 4px;
     font-family: OpenSans;
     text-transform: capitalize;
     font-size: 15px;
     position: absolute;
       }
       #contact_page  h2 {
       font-family: OpenSans;
       text-transform: capitalize;
       font-size: 15px;
       color: #002960;
       margin: 0px;
         }

       #contact_page #header_contact a:last-child {
         float: right;
margin: 10px 10px 1px 100px;
padding: 4px;
font-family: OpenSans;
text-transform: capitalize;
font-size: 15px;
       }

       #contact_page  input ,textarea{
         font-size: 15px;
              font-family: opensans;

            }
